#shelter_animals {
	.esri-feature__media-previous,
	.esri-feature__media-next {
		display: none;
	}
}

// ..voter-turnout-popup,
#animal-count-info-div {
	.esri-feature__title {
		margin: 0;
	}

	h2 {
		margin: 0;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	display: none;
	border: 1px solid lightgray;
	padding: 1em;
}
