.esri-scroll-zoom-toggle {
   padding: 0.7em 1.5em;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.esri-scroll-zoom-toggle--input-checkbox {
   margin-left: 1em;
   margin-bottom: 6px;
}