#energy-legend-container {
	border: 0.25px solid lightgray;
}

.renewables-popup__x-axis-labels {
	display: flex;
	flex-direction: row;
	width: 308px;
	justify-content: space-between;
	margin-left: 51px;
	width: calc(100% - 50px);
}

.renewables-popup__x-axis-labels .label {
	transform: rotate(270deg);
	transform-origin: 0 0;
}

#renewables {
	.esri-legend__layer-table.esri-legend__layer-table--size-ramp:first-child {
		display: none;
	}

	.esri-feature-content {
		width: 100%;

		& > div {
			width: 100%;
		}
	}
}
