.arcgis-map.US_protests {
	.esri-ui-bottom-right {
		width: 100%;
	}

	.esri-time-slider {
		width: 50%;
		max-width: 500px;
	}

	.esri-ui-corner .esri-component.esri-widget--panel {
		width: auto;
	}
}

.US_protests {
	&.esri-component.esri-legend {
		position: absolute;
		bottom: 30px;
		left: 15px;
	}

	.esri-legend__layer-row.protest-subject {
		display: block;
		margin-bottom: 10px;
	}

	.esri-legend__service.protest-subject {
		width: 200px;
	}

	.esri-legend__service.protest-subject .esri-legend__layer-caption {
		margin-bottom: 10px;
	}

	.esri-legend__service.protest-subject
		.esri-legend__layer-cell.esri-legend__layer-cell--info {
		width: auto;
		max-width: auto;
	}
}
