<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>

      <meta charset="utf-8">
      <title>Simple Esri Map</title>

      <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/css/main.css">
      <script src="https://js.arcgis.com/4.16/"></script>

      <link rel="stylesheet" href="styles.css">
      <script src="index.js" type="module"></script>

   </head>

   <body>
      <div id="viewDiv"></div>
      <div id="field-filter" class="esri-widget">
         <div class="field-item visible-field" data-field="totCases">Total Cases</div>
         <div class="field-item visible-field" data-field="Deaths">Total Deaths</div>
         <div class="field-item visible-field" data-field="Case100K">Cases / 100k</div>
       </div>
   </body>

</html>
