html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.covid-popup{
  text-align: center;
}
.covid-popup p {
  font-size: 1.2em;
  margin: 0;
}
.covid-popup .small {
  font-size: 0.8em;
}
.case-group {
  color: darkslateblue;
}

#field-filter {
  display: none;
  width: 160px;
}
.field-item {
  width: 100%;
  padding: 12px;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  height: 40px;
}
.field-item:focus {
  background-color: dimgrey;
}
.field-item:hover {
  background-color: dimgrey;
  color: white;
}